<div id="login-wrapper">
    <div id="login-signup-switcher" class="row">
        <div id="login-toggle" class="col-xs-6">
            <h1>Login</h1>
        </div>
        <div id="signup-toggle" class="col-xs-6">
            <h2>Sign Up</h2>
        </div>
    </div>

    <div id="login-title" class="row">
        <p>This is some random text</p>
    </div>

    <div id="login-form-wrapper" class="row">
        <form id="login-form" class="col-xs-8 col-xs-offset-2">

            <!-- USERNAME INPUT -->
            <label for="login-username">Username</label>
            <input id="login-username" type="text" />

            <!-- PASSWORD INPUT -->
            <label for="login-password">Password</label>
            <input id="login-password" type="password" />

            <!-- SUBMIT BUTTON -->
            <button id="login-submit-btn" class="btn btn-primary">Submit</button>

        </form>
    </div>

</div>