#header {
    position: static;
    height: 100px;
    margin-bottom: 100px;
    top: 0;
    background: #333;
    width: 100%;
    color: #EEE;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    background: #333;
    width: 100%;
    color: #EEE;
}