/*
    GENERAL STYLES
*/
.selectable, .hoverable, .clickable {
    cursor: pointer;
}

#header {
    position: fixed;
    height: 100px;
    top: 0;
    background: #333;
    width: 100%;
    color: #EEE;
    z-index: 100;
}

#content-wrapper {
    background: #AEAEAE;
}

#content {
    margin-top: 100px;
    height: 10000px;
    background: #fff;
}

#footer {
    bottom: 0;
    height: 100px;
    background: #333;
    width: 100%;
    color: #EEE;
}

/*
    LOGIN FORM
*/
#login-backdrop {
    background: black;
}

.login-input {
    width: 100%;
}

#login-signup-switcher .deselected {
    background: gray;
}