/*
    GENERAL STYLES
*/
.selectable, .hoverable, .clickable {
    cursor: pointer;
}
.body-with-header {
    padding-top: 100px;
}

.absolute-center {
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.pure-button {
    display: inline-block;
    padding: 12px 24px;
    border: 2px solid;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 25px;
    text-decoration: none !important;
}

.pure-button.google-red {
    border-color: #C13C31;
    color: #cdcdcd;
}

.pure-button.google-red:hover {
    background-color: #C13C31;
}

.pure-button.twitter-blue {
    border-color: #28A9E0;
    color: #cdcdcd;
}

.pure-button.twitter-blue:hover {
    background-color: #28A9E0;
}

.pure-button.facebook-blue {
    border-color: #3B5998;
    color: #cdcdcd;
}

.pure-button.facebook-blue:hover {
    background-color: #3B5998;
}

#header {
    position: fixed;
    height: 100px;
    top: 0;
    background: #333;
    width: 100%;
    color: #EEE;
    z-index: 100;
}

#nav-item-list {
    text-decoration: none;
    list-style: none;
    height: 100px;
}

.nav-item {
    height: 100px;
    width: 150px;
    float: right;
    cursor: pointer;
    font-size: 17px;
    vertical-align: middle;
    text-align: center;
    padding: 38px 20px 20px;
}

.nav-item:hover {
    background: rgba(255, 255, 255, .3);
}

#login-body {
    overflow: hidden;
}

#login-text-wrapper {
    color: #cdcdcd;
}

.content-wrapper {
    background: #AEAEAE;
}

.content {
    background: #fff;
}

#login-hero {
    position: relative;
    height: 100vh;
    background: url("/images/login-hero.jpg") no-repeat fixed center;
}

#login-content {
    background: transparent;
}

#footer {
    bottom: 0;
    height: 100px;
    background: #333;
    width: 100%;
    color: #EEE;
}

/*
    LOGIN FORM
*/
#login-backdrop {
    background: black;
}

.login-input {
    width: 100%;
}

#login-signup-switcher .deselected {
    background: gray;
}